* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    border: 2px dotted black;
    width: 500px;
    height: auto;
    margin: 20px auto;
    display: flex;
   justify-content: space-around;
   padding: 5px;
}
div:nth-of-type(1) {
   width: 45%; 
    height: 200px;   
    position: relative;
}
div:nth-of-type(2) {
    width: 50%; 
    height: 230px;   
    background-color: gray;
    position: relative;
}


div:nth-of-type(1) {
    background-color: #ffc0cb;

}

img:nth-child(1){
    width: 130px;
    height: 150px;
    position: absolute;
    top: 30px;
    left: 10px;
}