* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}	

section {
	margin: 100px auto;
	display: flex;
	width: 600px;
}
table {
	border: 1px solid black;
}

tr:nth-of-type(1){
	background-color: blue;
}
