* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin: 20px auto;
    width: 500px ;
    height: 400px;
    border: 3px dotted black;
    position: relative;
}

div:nth-of-type(1){
    background-color: red;
    color: white;
    width: 120px;
    height: 290px;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 150px;
}
div:nth-of-type(2){
    background-color: blue;
    color: white;
    width: 270px;
    height: 70px;
    font-size: 12px;
    padding: 10px;
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 20px;
}
div:nth-of-type(3){
    background-color: green;
    color: white;
    width: 260px;
    height: 80px;
    font-size: 12px;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 60px;
    left: 50px;
}   
div:nth-child(4){
    background-color: #ffa500;
    color: white;
    width: 100px;
    height: 80px;
    font-size: 12px;
    padding: 10px;
    z-index: 4;
    position: absolute;
    top: 240px;
    left: 100px;
}

h1 {
    font-size: 15px;
}