* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

section {
	margin: 100px auto;

	width: 750px;
	font
}
ul {

}
li {
	font-size: 20px;
}
main {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

a {
	color: red;
	font-size: 30px;
}
a:hover {
	background-color: red;
	color: white;
}

a:visited {
	color: grey;
}

