* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    border: 1px solid red;
    display: flex;
    margin: 20px auto;
    width: fit-content;
}
ul > li {
    background-color: black;
    color: white;
    margin: 0px 3px;
    padding: 3px 20px;
    transition: .6s;
}

ul > li:hover {
    background-color: #003366;
    cursor: pointer;
    color: #99CC00;
    transition: .6s;
}