* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

table {
	margin: 100px auto;
	background-color: #e8e3ce;
	border: 2px dotted black;
	border-collapse: collapse;
}
.td-red{
	color:red;
}


thead > tr {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.td-line {
	border: 1px solid black;
}
p {
	font-size: 30px;
	width: 1200px;
}
