* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f3f3;
}

.container {
    display: flex;
    height: 100vh;
}

.col {
    padding: 15px;
    border-right: 2px solid #ddd;
    overflow: auto;
}

.izquierda {
    width: 30%;
    background: #fff;
}

.centro {
    width: 40%;
    background: #fafafa;
}

.derecha {
    width: 30%;
    background: #fff;
    border-right: none;
}

#editor {
    border: 1px solid #bbb;
    height: 90%;
    background: white;
}

/* IFRAME PREVIEW */
iframe {
    width: 100%;
    height: 50vh;
    background: white;
    border: 1px solid #aaa;
}

/* PDF */
.pdf {
    width: 100%;
    height: 90%;
}
