
section {
    border: 4px dotted black;
    margin: 100px auto;
    width: 700px;
    height: 450px;
}


.class1 {
    width: 250px;
    height: 100px;
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
}

.class2 {
    width: 200px;
    height: 100px;
    background-color: red;
    color: white;
  
    padding: 10px;
    position: relative;
    top: 100px;
    left: 50px;
}