* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 100px 0 ;
}


img:first-of-type {
    width: 90px;
    height: 130px;
    position: fixed;
    left: 45px;
}


img:nth-of-type(2) {
    width: 80px;
       height: 130px;
    position: fixed;
    left: 200px;
}


img:nth-of-type(3) {
    width: 260px;
    height: 70px;
    position: fixed;
    left: 350px;
}