* {
	margin: 0;
	padding: 0;
}

table {
	margin: 100px auto;
	font-size: 30px;
}

tr > td {
	border: 3px dotted black;
}

tr > td:nth-of-type(1){
	font-weight: bold;
	border-radius: 10px;
	border: 5px solid red;
	padding: 5px
}
