* {
	padding: 0;
	margin: 0;
}

table {
	border: 3px dotted black;
	margin: 100px auto;
}



tr:nth-of-type(2) > td:nth-of-type(1), tr:nth-of-type(3) > td:nth-of-type(1), tr:nth-of-type(4) > td:nth-of-type(1){
	background-color: #6495ed;
	color: yellow;
}
tr:nth-of-type(1) {
	background-color: #34468a !important;
	color: white !important;
}

td{
	padding: 5px 15px;
	text-align:center;
	background-color: #5555;
}



