* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.p1 {
	border: 2px dotted black;
	font-size: 25px;
}
.p2 {
	line-height: 40px;
 	width: fit-content;
   	max-width: 700px;
   	font-size: 25px;
}
table {
	margin: 50px 200px 10px 200px;
	background-color: yellow;
	border: 2px dotted black;
	border-collapse: collapse;
}


thead > tr {
	color: red;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	font-weight: bold;
}


