      body {
            color: red;
            font-family: Verdana, sans-serif;
        }
        h1 {
            font-family: 'Times New Roman', Times, serif;
        }
        h2 {
            font-family: Courier, monospace;
        }
        h3 {
            font-family: Arial, Helvetica, sans-serif;
        }